<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置扫描的Controller -->
    <context:component-scan base-package="cn.changan.controller" />
    <!-- 开启注解 1.自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
                  2.提供一系列：数据绑定，@NumberFormat,@DataTimeFormat,xml,json默认读写支持
     -->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/img/**" location="/resources/img/"/>
    <mvc:resources mapping="/resources/js/**" location="/resources/js/"/>
    <mvc:resources mapping="/resources/css/**" location="/resources/css/"/>
    <!-- 1.静态资源访问，例如图片、js文件、css文件等
         2.允许使用“/”做整体映射
     -->
    <mvc:default-servlet-handler />
    <!-- 上传文件时需要用到的分解层，默认将编码转为urf-8,设置最大上传容量 ,最大内存-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize" value="10485760000" />
        <property name="maxInMemorySize" value="40960" />
    </bean>
    <!-- jspViewResolver jsp视图解析器 -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/><!-- 后台默认返回视图寻找视图文件的路径 -->
        <property name="suffix" value=".jsp"/><!-- 后台返回视图默认添加的后缀 -->
    </bean>
</beans>